<div class="row">
<div class="span12">
	<%= link_to new_question_path, :id => 'new_question', :class => 'btn btn-block btn-info' do %>
		<%= content_tag(:i, '', :class => 'icon-plus-sign') %>
		<%= t('question.new') %>
	<% end %>
</div>
</div>