<div id="question">
	<h1 class="title"><%= @question.title %></h1>
	<div class="content"><%= @question.content.html_safe %></div>

	<%= render "answers/form" %>
	
	<div id="answers">
		<h3>Answers</h3>
		<%= render @question.answers.select(&:persisted?) %>
	</div>
</div>
