<h1>Your Notifications</h1>

<%= render "form" %>

<%= render(current_user.notification_rules.select(&:persisted?)) || content_tag(:div, "No notification rules set up yet.", :class => 'alert alert-info') %>
