<div class="well">
	<div class="row">
		<div class="span4">
  			<p><strong>Username:</strong> <%= user.username %></p>
  			<p><strong>Email:</strong> <%= user.email %></p>
  		</div>

  		<div class="span3">
  			<h3><%= user.questions.count %> <span class="muted">Questions Asked</span></h3>
  		</div>

  		<div class="span4">
  			<h3><%= user.answers.count %> <span class="muted">Questions Answered</span></h3>
  		</div>
  	</div>
</div>