<div id="current_user" class="pull-right">
	<ul class="nav">
		<li>
			<div class="navbar-text user-label">
				<div class="avatar">
					<%= image_tag user.gravatar_url %>
				</div>
				<%= user.email %>
			</div>
		</li>
		<li>
			<%= button_to t('devise.sessions.sign_out'), destroy_user_session_path, :method => :delete, :class => 'btn btn-danger btn-logout' %>
		</li>
	</ul>
</div>