<div id="current-user" class="wide-but-centered">
	<p>
		Inquest is a platform for generating quality knowledge, based on a proven community
		reputation system.
	</p>
	<a class="btn btn-primary btn-large btn-block">Log In</a>
</div>