<div id="sidebar" class="span3 full-height">
	<h1 id="application-title">Inquest</h1>
	<% if current_user %>
		<%= render "shared/current_user" %>
	<% else %>
		<%= render "shared/sidebar_login_form" %>
	<% end %>
</div>
