<div class="controls span1">
	<%= vote_button(voteable, 'up') %>
	<%= accept_answer_link(voteable) if voteable.is_a?(Answer) %>
	<%= vote_score(voteable) %>
	<%= vote_button(voteable, 'down') %>
</div>