<div class="answer">
	<div class="row">
		<div class="controls span1">
			<%= accept_answer_link(answer) %>

		</div>
		<div class="content span11">
			<%= answer.content.html_safe %>
		</div>

		<div class="author span11 pull-right">
			<div class="row">
				<div class="span9">
					Submitted by <%= link_to answer.user.username, 'question.user' %>.
				</div>
				<div class="span3">
					Submitted at <%= answer.created_at.to_s(:short) %>
				</div>
			</div>
		</div>
	</div>
</div>
