<div class="answer">
	<div class="row">
		<%= render "shared/voteable_controls", :voteable => answer %>
		<div class="content span10">
			<%= answer.content_html.html_safe %>
		</div>

		<div class="author span10 pull-right">
			<div class="row">
				<div class="span9">
					Submitted by <%= link_to answer.user.username, 'question.user' %>.
				</div>
				<div class="span3">
					Submitted at <%= answer.created_at.to_s(:short) %>
				</div>
			</div>
		</div>
	</div>
</div>
