<div class="answer">
	<div class="row">
		<%= render "shared/voteable_controls", :voteable => answer %>
		<div class="content span10">
			<%= answer.content_html.html_safe %>
		</div>

		<%= render "author", :author => answer.user, :authored => answer %>
	</div>
</div>
