// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#activities {
	margin-top: 10px;

	li.header {
		background-color: #1abc9c !important;
		color: #34495e;

		padding: 20px 10px;
	}

	li {
		background: #6285a8;
	}
	li:first-child { 
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

	li:last-child { 
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}

	li {
		padding: 10px;
		color: white;

		a, a:active, a:visited {
			color: white;
			text-decoration: none;
			border-bottom: dashed 1px #fffg;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	li:nth-child(odd) {
		background: #34495e;
	}
}