// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer {

	padding-top: 10px;
	padding-bottom: 75px;
	border-bottom: solid 1px #cfd4d5;
	position: relative;

	&:last-child {
		border-bottom: none;
	}

	a#accept_answer, a#accept_answer:visited, a#accept_answer:active {
		i.icon-ok-sign {
			color: #cfd4d5;
			text-decoration: none;

			&:hover {
				color: #2ECC71;
			}
		}
	}




	i.icon-ok-sign {
		color: #2ECC71;
	}

	.author {
		position: absolute;
		bottom: 0px;
		right: 0px;
		color: #7F8C8D;
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 10px;


		a, a:visited, a:active {
			color: #7F8C8D;
		}
	}
}