// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer {

	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #cfd4d5;

	&:last-child {
		border-bottom: none;
	}

	a#accept_answer, a#accept_answer:visited, a#accept_answer:active {
		i.icon-ok-sign {
			color: #cfd4d5;
			text-decoration: none;

			&:hover {
				color: #2ECC71;
			}
		}
	}

	a.vote_button, a.vote_button:active, i.icon-up-arrow, i.icon-down-arrow {
		text-decoration: none;
		color: #cfd4d5;

		i {
			&:hover {
				color: #2ECC71;
			}
		}
	}

	span.vote_button.disabled {
		color: #cfd4d5;
	}

	.vote-score {
		font-size: 2.5em;
		padding-left: 0.3em;
		color: #cfd4d5;
		margin-top: 5px;
		margin-bottom: 5px;
	}


	i.icon-ok-sign {
		color: #2ECC71;
	}

	.author {
		color: #7F8C8D;
		padding: 10px;
		margin-top: 10px;
		margin-bottom: 10px;


		a, a:visited, a:active {
			color: #7F8C8D;
		}
	}
}