@import "bootstrap";
@import "font-awesome";
@import "flat-ui";


body { 
	background-color: #ECF0F1;
	padding-top: 60px;
	padding-bottom: 60px;
}


.navbar-fixed-top > .navbar-inner {
	background-color: #34495E;
	background-image: none;
}

.navbar {
	.brand, .brand:active, .brand:visited {
		color: white;
		text-shadow: none;
		font-weight: normal;
		font-size: 26px;
		padding-top: 10px;
		padding-bottom: 10px;

	}
}

.brand, .brand:active, .brand:visited {
	color: white;
	text-decoration: none;
	text-shadow: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-family: serif;
}

.brand.large {
	font-size: 400%;
	margin: 10% auto;
}