.wide-but-centered {
	width: 90%;
	margin: auto;
	text-align: center;
}

.navbar .btn {
	padding: 10px 20px 10px;
	display: block;
}

#current_user {

	.user-label {
		color: white;
		margin-top: 5px;
		margin-right: 10px;
		font-weight: 200;
		font-size: 14px;

		.avatar {
			position: relative;
			top: 4px;
			display: inline-block;
			text-align: center;
			width: 32px;
			height: 32px;
			background-color: white;
			border-radius: 50%;

			img {
				margin-top: -8px;
				height: 24px;
			}
		}


	}

	form {
		margin: 0;
	}

	.navbar-btn {
		font-size: 14px;
		padding: 5px;
		margin-left: 5px;
		position: relative;
		top: 5px;
	}


}