body.authentication {
	background-color: #34495E;

	form {
		input[type=text], input[type=email], input[type=password] {
			width: 95%;
		}

		.help-block {
			color: #ECF0F1;
			text-align: left;
		}
	}
}

