#profile {
	h1 > img {
		margin-right: 20px;
	}
}

.inline-user-display {
	line-height: 18px;

	color: #2C3E50;
	font-weight: bold;
	text-decoration: none;

	img {
		margin-top: -4px;
		margin-right: 4px;
		border-radius: 50%;
	}
}

form.well {
	.form-actions {
		.btn {
			margin-left: 10px;
		}
	}
}